.container {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Arial", "sans-serif";
  font-size: 18px;
}

.container Button {
  font-size: 18px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.MenuPage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.MenuPage .container {
  margin-top: 100px;
  text-align: center;
}

.MenuPage .col {
  padding: 10px;
  display: inline-block;
}

.MenuPage Button {
  height: 100px;
  width: 100px;
}
